.logo{
    width: 500px;
}

body{
    background-color: ivory;
    font-family: 'Barlow', sans-serif;
}
main{
    height: 100vh;
}

.container-banner{
    width: 100%;
    height: 50%;
    background-image: url("../img/logotipo-clinica-de-estetica-corpus.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.container-texto-banner{
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin: auto;
    width: 0%;
    height: 100%;
}

.container-banner h1,p{
    color: black;
}

h2{
    text-align: center;
    font-size: 48px;
    margin: 20px 0px;
    color: #FFF;
    font-weight: bold;
}

.container-facial, .container-corporal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-facial-titulo, .container-corporal-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-facial-titulo h3, .container-corporal-titulo h3{
    font-size: 32px;
    color: #E9967A;
    text-align: center;
    margin: 15px 0px 5px;
}

.container-facial-servicos, .container-corporal-servicos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-servico img{
    width: 350px;
    height: 270px;
    object-fit: cover;
}

.container-servico p{
    margin: 10px 0;
    text-align: center;
}

.container-servico p:nth-child(4){
    color: #9B8357;
    font-size: 18px;
    font-weight: 600;
}

.container-servico p:nth-child(2){
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.container-servico p:last-child {
    font-weight: bold;
}

.container-servico p:first-child {
    margin-bottom: 5px; /
    font-weight: bold; /
}

.ornaments{
    width: 200px;
}

